* {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 3em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* good website for box shadows: https://getcssscan.com/css-box-shadow-examples */

/* header styling */
.header {
  background: #02124f;
  padding: 30px;
  color: #fff;
  text-align: center;
}

.todo-title {
  font-size: 33px;
  font-weight: 600;
}

/* style for input */
input {
  margin-right: 3em;
  border: none;
  border-radius: 15px;
  width: 75%;
  padding: 10px;
  font-size: 13px;
}

.add-tasks {
  display:flex;
}

/* style for add button */
.add-button {
  padding: 10px;
  width: 25%;
  background: white;
  color: #555;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.3s;
  font-weight: 400;
}

.add-button:hover {
  background-color: #f05dc1;
  color: #fff;
}

/* list styling */
ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  list-style: none;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #fcfcfc;
  font-size: 16px;
  font-weight: 300;
  transition: 0.2s;
}

ul li:hover {
  background: #ddd;
}

.delete {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.delete:hover {
  background-color: #f05dc1;
  color: white;
}
